<!-- project section -->
<section class="works">
    <div class="container">
        <div class="works-title">Project</div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1567607788636-84d0ed9ec1eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" routerLink="/clock">Clock</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1579076443751-5045e0a1b026?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=672&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" routerLink="/apartment">Apartment</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" href="https://balajasa.github.io/glasses/">Glasses</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1516690553959-71a414d6b9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" routerLink="/animation">Moon Animation</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1560807707-8cc77767d783?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" href="https://balajasa.github.io/glasses/">456</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <div class="hovereffect">
                        <div class="single-img bg-cover" style="background-image: url(https://images.unsplash.com/photo-1505015390928-f9e55218544f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);"></div>
                        <div class="overlay">
                            <a class="info" target="_blank" href="https://balajasa.github.io/glasses/">789</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>




</section>