<div class="wrap">
    <div class="sidebar">
        <a href="#" class="sidebar-open"><i class="fas fa-bars"></i>
            <ul class="sidebar-menu">
                <li><a href="#">直的選單Ａ</a></li>
                <li><a href="#">直的選單Ｂ</a></li>
                <li><a href="#">直的選單Ｃ</a></li>
                <li><a href="#">直的選單Ｄ</a></li>
            </ul>
        </a>
        <!-- <a href="#" class="sidebar-close"><i class="fas fa-times"></i></a> -->

    </div>
  
  
    <!--   navbar -->
    <ul class="dropdown-menu">
        <li><a href="#">選單內容A</a>
        <ul>
            <li><a href="#">選單內容A-1</a></li>
            <li><a href="#">選單內容A-2</a>
                <ul>
                    <li><a href="#">選單內容A-2-1</a></li>
                    <li><a href="#">選單內容A-2-2</a></li>
                    <li><a href="#">選單內容A-2-3</a></li>
                </ul>
            </li>
        </ul>    
    </li>
        <li><a href="#">選單內容B</a></li>
        <li><a href="#">選單內容C</a>
            <ul>
                <li><a href="#">選單內容C-123</a>
                    <ul>
                        <li><a href="#">選單內容C-01</a></li>
                        <li><a href="#">選單內容C-02</a></li>
                        <li><a href="#">選單內容C-03</a></li>
                    </ul>
                </li>
                <li><a href="#">選單內容C-456</a></li>
                <li><a href="#">選單內容C-789</a></li>
            </ul>
        </li>
        <li><a href="#">選單內容D</a>
            <ul>
                <li><a href="#">選單內容D-123</a></li>
                <li><a href="#">選單內容D-456</a></li>
                <li><a href="#">選單內容D-789</a></li>
            </ul>
        </li>
        <li><a href="#">選單內容E</a>
            <ul>
                <li><a href="#">選單內容I</a></li>
                <li><a href="#">選單內容II</a></li>
                <li><a href="#">選單內容III</a></li>
                <li><a href="#">選單內容IIII</a></li>
                <li><a href="#">選單內容V</a></li>
            </ul>
        </li>
    </ul>
</div>
